*{
margin: 0px;
}

.header{
    padding: 10px;
    text-align: center;
}

.opciones{
    padding: 10px 12px;
    display: flex;
    list-style: none;
    gap: 15px;


}

.boton{
    padding: 10px 11px;
    display: flex;
    list-style: none;
    gap: 15px;
    text-decoration: none;
    
    
}


.opciones li a{
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Quita las viñetas */
    display: flex; /* Alinea los elementos en línea horizontal */
    gap: 10px; /* Espacio entre elementos */
    padding: 0; /* Quita el relleno predeterminado */
    list-style: none;/* quitar puntos de menu de opciones*/ 
}

.opciones li a {
    text-decoration: none; /* Quita el subrayado */
    color: #000; /* Cambia el color del texto */
}

.opciones li a:hover {
    color: #e40bae; /* Cambia el color al pasar el cursor */
}


